<launch>
  <include file="$(find uvc_camera)/launch/stereo_image_proc.launch" />
  
  <node name="view" pkg="image_view" type="stereo_view">
    <remap from="image" to="image_rect_color"/>
    <param name="autosize" value="false"/>
  </node>
  
  <arg name="model" default="$(find up1_description)/robots/up1.urdf"/>
	<arg name="gui" default="False" />
	<param name="robot_description" textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find up1_description)/urdf.rviz" required="true" />
</launch>
